
<a href="/events">Events Dashboard</a>
<h1>Edit User:<%= @user.first_name %></h1>



<p><%= flash[:errors] %></p>

<form action="/users/<%= @user.id %>" method="post">

<fieldset>
<legend>Edit</legend>
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
	<p>
	<label for="first_name">First Name:</label>
	<input id="first_name" type="string" name="first_name" placeholder="<%= @user.first_name %>">
	</p>
	<p>
	<label for="last_name">Last Name:</label>
	<input id="last_name" type="string" name="last_name" placeholder="<%= @user.last_name %>">
	</p>
	<p>
	<label for="email"> Email:</label>
	<input id="email" type="email" name="email" placeholder="<%= @user.email%>">
	</p>
	<p>
	<label for="location">Location:</label>
	<input id="location" type="string" name="location" placeholder="<%= @user.location %>">
	</p>
	<label for="state">State</label>
    		<select id="state" name="state" size="1">
				  <option value="AK">AK</option>
				  <option value="AL">AL</option>
				  <option value="AR">AR</option>
				  <option value="AZ">AZ</option>
				  <option value="CA">CA</option>
				  <option value="CO">CO</option>
				  <option value="CT">CT</option>
				  <option value="DC">DC</option>
				  <option value="DE">DE</option>
				  <option value="FL">FL</option>
				  <option value="GA">GA</option>
				  <option value="HI">HI</option>
				  <option value="IA">IA</option>
				  <option value="ID">ID</option>
				  <option value="IL">IL</option>
				  <option value="IN">IN</option>
				  <option value="KS">KS</option>
				  <option value="KY">KY</option>
				  <option value="LA">LA</option>
				  <option value="MA">MA</option>
				  <option value="MD">MD</option>
				  <option value="ME">ME</option>
				  <option value="MI">MI</option>
				  <option value="MN">MN</option>
				  <option value="MO">MO</option>
				  <option value="MS">MS</option>
				  <option value="MT">MT</option>
				  <option value="NC">NC</option>
				  <option value="ND">ND</option>
				  <option value="NE">NE</option>
				  <option value="NH">NH</option>
				  <option value="NJ">NJ</option>
				  <option value="NM">NM</option>
				  <option value="NV">NV</option>
				  <option value="NY">NY</option>
				  <option value="OH">OH</option>
				  <option value="OK">OK</option>
				  <option value="OR">OR</option>
				  <option value="PA">PA</option>
				  <option value="RI">RI</option>
				  <option value="SC">SC</option>
				  <option value="SD">SD</option>
				  <option value="TN">TN</option>
				  <option value="TX">TX</option>
				  <option value="UT">UT</option>
				  <option value="VA">VA</option>
				  <option value="VT">VT</option>
				  <option value="WA">WA</option>
				  <option value="WI">WI</option>
				  <option value="WV">WV</option>
				  <option value="WY">WY</option>
				</select>
	</p>
	<p>
	<label for="password"> Password:</label>
	<input id="password" type="password" name="password" placeholder="<%= @user.password%>">
	</p>
	<input type="submit" value="Update">
	</fieldset>
</form>




<form action='/users/<%= @user.id %>' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input name="_method" value="delete" type="hidden">
  <button type="submit">Delete Account</button>
</form>